@import "tailwindcss";
@plugin "daisyui" {
    root: ":root";
    themes: light --default, dark --prefersdark, synthwave, dracula, nord, coffee, retro, winter, cupcake;
    include: button, divider;
}

.header {
    --wails-draggable: drag;
}